streamlit
yfinance
pandas
numpy
plotly
python-dotenv
streamlit-autorefresh
robin_stocks
lxml
html5lib
pycoingecko
pyotp
ta==0.11.0
ccxt
scipy>=1.10.0
alpaca-py>=0.12
yfinance>=0.2.40

